---
# Default values for installer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: nicholaswilde/installer
  pullPolicy: IfNotPresent
  tag: "0.2.9"

secret: {}
  # USER: ""
  # GH_TOKEN: ""

service:
  port:
    port: 3000

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.1.0/24
  hosts:
    - host: "installer.192.168.1.199.nip.io"
      paths:
        - path: "/"
          pathType: Prefix
  # tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
