---
image:
  repository: ghcr.io/nicholaswilde/cryptpad
  pullPolicy: IfNotPresent
  tag: "version-4.7.0"

env: {}
  # TZ: "America/Los_Angeles"
  # PUID: "1000"
  # PGID: "1000"

service:
  port:
    port: 3000

ingress:
  enabled: false

persistence:
  config:
    enabled: false
    emptyDir: false
    mountPath: /config
  blob:
    enabled: false
    emptyDir: false
    mountPath: /blob
    accessMode: ReadWriteOnce
    size: 1Gi
  block:
    enabled: false
    emptyDir: false
    mountPath: /block
    accessMode: ReadWriteOnce
    size: 1Gi
  customize:
    enabled: false
    emptyDir: false
    mountPath: /customize
    accessMode: ReadWriteOnce
    size: 1Gi
  data:
    enabled: false
    emptyDir: false
    mountPath: /data
    accessMode: ReadWriteOnce
    size: 1Gi
  datasource:
    enabled: false
    emptyDir: false
    mountPath: /datasource
    accessMode: ReadWriteOnce
    size: 1Gi
