---
#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/nicholaswilde/helm-charts/tree/main/charts/common/values.yaml
#

image:
  repository: ghcr.io/linuxserver/sickgear
  pullPolicy: IfNotPresent
  tag: "release_0.23.22-ls84"

secret: {}

# See more environment variables in the sickgear documentation
# https://github.com/linuxserver/docker-sickgear#parameters
env: {}
  # PUID: "1000"
  # PGID: "1000"

service:
  port:
    port: 8081

ingress:
  enabled: false

persistence:
  config:
    enabled: false
    emptyDir: false
    mountPath: /config
  tv:
    enabled: false
    emptyDir: false
    mountPath: /tv
    accessMode: ReadWriteOnce
    size: 1Gi
  downloads:
    enabled: false
    emptyDir: false
    mountPath: /downloads
    accessMode: ReadWriteOnce
    size: 1Gi
