---
# Default values for Transmission.
image:
  repository: ghcr.io/linuxserver/transmission
  pullPolicy: IfNotPresent
  tag: "3.00-r0-ls73"

strategy:
  type: Recreate

service:
  port:
    port: 9091
  additionalPorts:
    - name: "51413-tcp"
      port: 51413
    - name: "51413-udp"
      port: 51413
      protocol: UDP

secret:
  user: "pirate"
  pass: "hypriot"

env:
  TZ: "America/Los_Angeles"
  TRANSMISSION_WEB_HOME: "/kettu/"
  # PUID: "1001"
  # PGID: "1001"

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.1.0/24
  hosts:
    - host: "transmission.192.168.1.203.nip.io"
      paths:
        - path: "/"
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

persistence:
  downloads:
    enabled: false
    emptyDir: false
    mountPath: /downloads
    ## Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    # storageClass: "-"
    accessMode: ReadWriteOnce
    size: 1Gi
    ## Do not delete the pvc upon helm uninstall
    skipuninstall: false
    # existingClaim: ""
  config:
    enabled: false
    emptyDir: false
    mountPath: /config
    accessMode: ReadWriteOnce
    size: 1Gi
    skipuninstall: false
  watch:
    enabled: false
    emptyDir: false
    mountPath: /watch
    accessMode: ReadWriteOnce
    size: 1Gi
    skipuninstall: false
