---
#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/nicholaswilde/helm-charts/tree/main/charts/common/values.yaml
#

image:
  repository: ghcr.io/linuxserver/mstream
  pullPolicy: IfNotPresent
  tag: "v5.1.9-ls53"

secret: {}
  # PASSWORD: password

# See more environment variables in the template documentation
# https://github.com/IrosTheBeggar/mStream/blob/master/docs/docker.md
env: {}
  # TZ:

service:
  port:
    port: 3000

ingress:
  enabled: false

persistence:
  config:
    enabled: false
    emptyDir: false
    mountPath: /config
  music:
    enabled: false
    emptyDir: false
    mountPath: /music
    accessMode: ReadWriteOnce
    size: 1Gi
