---
apiVersion: v2
appVersion: "v1.7.0"
version: 2.1.0
name: babybuddy
description: Helps caregivers track sleep, feedings, diaper changes, tummy time and more to learn about and predict baby's needs without (as much) guess work.
type: application
home: "https://github.com/nicholaswilde/helm-charts/tree/main/charts/babybuddy"
icon: "https://github.com/babybuddy/babybuddy/raw/master/babybuddy/static_src/logo/icon.png"
dependencies:
  - name: common
    version: ~0.1.13
    repository: https://nicholaswilde.github.io/helm-charts/
  - name: postgres
    version: ~0.1.0
    repository: https://nicholaswilde.github.io/helm-charts/
    condition: postgres.enabled
keywords:
  - baby
  - buddy
  - tracker
  - parents
  - parenting
sources:
  - https://github.com/babybuddy/babybuddy
  - https://github.com/nicholaswilde/docker-babybuddy
maintainers:
  - name: nicholaswilde
    email: ncwilde43@gmail.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Bump tag to version-v1.7.0
  artifacthub.io/images: |
    - name: babybuddy
      image: ghcr.io/linuxserver/babybuddy:version-v1.7.0
