---
#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/nicholaswilde/helm-charts/tree/main/charts/common/values.yaml
#

image:
  repository: ghcr.io/linuxserver/medusa
  pullPolicy: IfNotPresent
  tag: "version-v0.5.13"

secret: {}

# See more environment variables in the template documentation
# https://github.com/linuxserver/docker-medusa#parameters
env: {}
  # TZ:

service:
  port:
    port: 8081

ingress:
  enabled: false

persistence:
  config:
    enabled: true
    emptyDir: false
    mountPath: /config
  downloads:
    enabled: false
    emptyDir: false
    mountPath: /downloads
    accessMode: ReadWriteOnce
    size: 1Gi
  tv:
    enabled: false
    emptyDir: false
    mountPath: /tv
    accessMode: ReadWriteOnce
    size: 1Gi
